Amazon/Web References/MarketPlace/amzn-header.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="amzn-base.xsd" />
  <xsd:element name="Header">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DocumentVersion">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:pattern value="\d{1,2}\.\d{1,2}" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="MerchantIdentifier" type="String" />
        <xsd:element minOccurs="0" name="OverrideReleaseId">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:pattern value="\d{1,4}\.\d{1,4}" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>