Amazon/Web References/MarketPlace/amzn-envelope.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="amzn-base.xsd" />
  <xsd:include schemaLocation="amzn-header.xsd" />
  <xsd:include schemaLocation="FulfillmentCenter.xsd" />
  <xsd:include schemaLocation="Inventory.xsd" />
  <xsd:include schemaLocation="Listings.xsd" />
  <xsd:include schemaLocation="OrderAcknowledgement.xsd" />
  <xsd:include schemaLocation="OrderAdjustment.xsd" />
  <xsd:include schemaLocation="OrderFulfillment.xsd" />
  <xsd:include schemaLocation="OrderReport.xsd" />
  <xsd:include schemaLocation="Override.xsd" />
  <xsd:include schemaLocation="Price.xsd" />
  <xsd:include schemaLocation="ProcessingReport.xsd" />
  <xsd:include schemaLocation="ProductImage.xsd" />
  <xsd:include schemaLocation="Product.xsd" />
  <xsd:include schemaLocation="Relationship.xsd" />
  <xsd:include schemaLocation="SettlementReport.xsd" />
  <xsd:include schemaLocation="TestOrderRequest.xsd" />
  <xsd:element name="AmazonEnvelope">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Header" />
        <xsd:element name="MessageType">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="FulfillmentCenter" />
              <xsd:enumeration value="Inventory" />
              <xsd:enumeration value="Listings" />
              <xsd:enumeration value="OrderAcknowledgement" />
              <xsd:enumeration value="OrderAdjustment" />
              <xsd:enumeration value="OrderFulfillment" />
              <xsd:enumeration value="OrderReport" />
              <xsd:enumeration value="Override" />
              <xsd:enumeration value="Price" />
              <xsd:enumeration value="ProcessingReport" />
              <xsd:enumeration value="Product" />
              <xsd:enumeration value="ProductImage" />
              <xsd:enumeration value="Relationship" />
              <xsd:enumeration value="SettlementReport" />
              <xsd:enumeration value="TestOrderRequest" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="PurgeAndReplace" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="EffectiveDate" type="xsd:dateTime" />
        <xsd:element maxOccurs="unbounded" name="Message">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="MessageID" type="IDNumber" />
              <xsd:element minOccurs="0" name="OperationType">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Update" />
                    <xsd:enumeration value="Delete" />
                    <xsd:enumeration value="PartialUpdate" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:choice>
                <xsd:element ref="FulfillmentCenter" />
                <xsd:element ref="Inventory" />
                <xsd:element ref="Listings" />
                <xsd:element ref="OrderAcknowledgement" />
                <xsd:element ref="OrderAdjustment" />
                <xsd:element ref="OrderFulfillment" />
                <xsd:element ref="OrderReport" />
                <xsd:element ref="Override" />
                <xsd:element ref="Price" />
                <xsd:element ref="ProcessingReport" />
                <xsd:element ref="Product" />
                <xsd:element ref="ProductImage" />
                <xsd:element ref="Relationship" />
                <xsd:element ref="SettlementReport" />
                <xsd:element ref="TestOrderRequest" />
              </xsd:choice>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>