Amazon/Web References/MarketPlace/Beauty.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="amzn-base.xsd" />
  <xsd:element name="Beauty">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ProductType">
          <xsd:complexType>
            <xsd:choice>
              <xsd:element ref="BeautyMisc" />
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="BatteryTypeLithiumIon" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="BatteryTypeLithiumMetal" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="LithiumBatteryEnergyContent" type="xsd:decimal" />
        <xsd:element minOccurs="0" name="LithiumBatteryPackaging">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="batteries_contained_in_equipment" />
              <xsd:enumeration value="batteries_only" />
              <xsd:enumeration value="batteries_packed_with_equipment" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="LithiumBatteryVoltage" type="xsd:decimal" />
        <xsd:element minOccurs="0" name="LithiumBatteryWeight" type="xsd:decimal" />
        <xsd:element minOccurs="0" name="NumberOfLithiumIonCells" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="NumberOfLithiumMetalCells" type="xsd:positiveInteger" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="BeautyMisc">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="VariationData">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Parentage">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="parent" />
                    <xsd:enumeration value="child" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="VariationTheme">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Size" />
                    <xsd:enumeration value="Color" />
                    <xsd:enumeration value="Size-Color" />
                    <xsd:enumeration value="Scent" />
                    <xsd:enumeration value="Size-Scent" />
                    <xsd:enumeration value="PatternName" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="Size" type="StringNotNull" />
              <xsd:element minOccurs="0" name="Color" type="StringNotNull" />
              <xsd:element minOccurs="0" name="ColorMap" type="StringNotNull" />
              <xsd:element minOccurs="0" name="Scent" type="StringNotNull" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="Count" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="NumberOfItems" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="DisplayLength" type="LengthDimension" />
        <xsd:element minOccurs="0" name="DisplayWeight" type="WeightDimension" />
        <xsd:element minOccurs="0" name="DisplayVolume" type="VolumeDimension" />
        <xsd:element minOccurs="0" maxOccurs="5" name="SkinType" type="String" />
        <xsd:element minOccurs="0" maxOccurs="5" name="SkinTone" type="StringNotNull" />
        <xsd:element minOccurs="0" maxOccurs="5" name="HairType" type="String" />
        <xsd:element minOccurs="0" name="Ingredients">
          <xsd:simpleType>
            <xsd:restriction base="xsd:normalizedString">
              <xsd:maxLength value="1500" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="3" name="MaterialType" type="LongStringNotNull" />
        <xsd:element minOccurs="0" name="Indications" type="LongStringNotNull" />
        <xsd:element minOccurs="0" name="Directions" type="LongStringNotNull" />
        <xsd:element minOccurs="0" name="Warnings" type="LongStringNotNull" />
        <xsd:element minOccurs="0" name="ItemForm" type="String" />
        <xsd:element minOccurs="0" name="Flavor" type="StringNotNull" />
        <xsd:element minOccurs="0" name="Coverage" type="String" />
        <xsd:element minOccurs="0" maxOccurs="5" name="FinishType" type="String" />
        <xsd:element minOccurs="0" maxOccurs="5" name="ItemSpecialty" type="String" />
        <xsd:element minOccurs="0" name="PatternName" type="String" />
        <xsd:element minOccurs="0" name="IsAdultProduct" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="TargetGender">
          <xsd:simpleType>
            <xsd:restriction base="StringNotNull">
              <xsd:enumeration value="male" />
              <xsd:enumeration value="female" />
              <xsd:enumeration value="unisex" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="CountryOfOrigin">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:length value="2" fixed="true" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" ref="Battery" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>