Amazon/Web References/MarketPlace/Health.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="amzn-base.xsd" />
  <xsd:element name="Health">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ProductType">
          <xsd:complexType>
            <xsd:choice>
              <xsd:element ref="HealthMisc" />
              <xsd:element ref="PersonalCareAppliances" />
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="BatteryTypeLithiumIon" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="BatteryTypeLithiumMetal" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="LithiumBatteryEnergyContent" type="xsd:decimal" />
        <xsd:element minOccurs="0" name="LithiumBatteryPackaging">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="batteries_contained_in_equipment" />
              <xsd:enumeration value="batteries_only" />
              <xsd:enumeration value="batteries_packed_with_equipment" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="LithiumBatteryVoltage" type="xsd:decimal" />
        <xsd:element minOccurs="0" name="LithiumBatteryWeight" type="xsd:decimal" />
        <xsd:element minOccurs="0" name="NumberOfLithiumIonCells" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="NumberOfLithiumMetalCells" type="xsd:positiveInteger" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="HealthMisc">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="VariationData">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Parentage">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="parent" />
                    <xsd:enumeration value="child" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="VariationTheme">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Size" />
                    <xsd:enumeration value="Color" />
                    <xsd:enumeration value="Count" />
                    <xsd:enumeration value="Scent" />
                    <xsd:enumeration value="Flavor" />
                    <xsd:enumeration value="Size-Color" />
                    <xsd:enumeration value="Flavor-Count" />
                    <xsd:enumeration value="Flavor-Size" />
                    <xsd:enumeration value="Size-Scent" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="Size" type="StringNotNull" />
              <xsd:element minOccurs="0" name="Color" type="StringNotNull" />
              <xsd:element minOccurs="0" ref="ColorMap" />
              <xsd:element minOccurs="0" name="Count" type="xsd:positiveInteger" />
              <xsd:element minOccurs="0" name="NumberOfItems" type="xsd:positiveInteger" />
              <xsd:element minOccurs="0" name="Flavor" type="StringNotNull" />
              <xsd:element minOccurs="0" name="Scent" type="StringNotNull" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="DisplayLength" type="LengthDimension" />
        <xsd:element minOccurs="0" name="DisplayWeight" type="WeightDimension" />
        <xsd:element minOccurs="0" name="DisplayVolume" type="VolumeDimension" />
        <xsd:element minOccurs="0" name="Indications" type="LongStringNotNull" />
        <xsd:element minOccurs="0" maxOccurs="5" name="HairType" type="LongStringNotNull" />
        <xsd:element minOccurs="0" maxOccurs="5" name="SkinType" type="LongStringNotNull" />
        <xsd:element minOccurs="0" maxOccurs="5" name="SkinTone">
          <xsd:simpleType>
            <xsd:restriction base="StringNotNull">
              <xsd:enumeration value="Dark" />
              <xsd:enumeration value="Fair" />
              <xsd:enumeration value="Medium" />
              <xsd:enumeration value="MediumDark" />
              <xsd:enumeration value="VeryDark" />
              <xsd:enumeration value="VeryFair" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="3" name="Ingredients" type="LongStringNotNull" />
        <xsd:element minOccurs="0" maxOccurs="3" name="MaterialType" type="LongStringNotNull" />
        <xsd:element minOccurs="0" name="Directions" type="LongStringNotNull" />
        <xsd:element minOccurs="0" name="Warnings" type="LongStringNotNull" />
        <xsd:element minOccurs="0" name="ItemForm" type="String" />
        <xsd:element minOccurs="0" name="Coverage" type="String" />
        <xsd:element minOccurs="0" maxOccurs="5" name="FinishType" type="String" />
        <xsd:element minOccurs="0" maxOccurs="5" name="ItemSpecialty" type="String" />
        <xsd:element minOccurs="0" name="IsAdultProduct" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="TargetGender">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="male" />
              <xsd:enumeration value="female" />
              <xsd:enumeration value="unisex" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="LensType" type="String" />
        <xsd:element minOccurs="0" name="LifeExpectancy" type="DateIntegerDimension" />
        <xsd:element minOccurs="0" name="ItemDiameter" type="LengthDimension" />
        <xsd:element minOccurs="0" name="BaseCurveRadius" type="LengthDimension" />
        <xsd:element minOccurs="0" name="CIPCode" type="String" />
        <xsd:element minOccurs="0" name="PowerSource" type="FortyStringNotNull" />
        <xsd:element minOccurs="0" name="IsACAdapterIncluded" type="xsd:boolean" />
        <xsd:element minOccurs="0" ref="Battery" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PersonalCareAppliances">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="VariationData">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Parentage">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="parent" />
                    <xsd:enumeration value="child" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="VariationTheme">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Size" />
                    <xsd:enumeration value="Color" />
                    <xsd:enumeration value="Count" />
                    <xsd:enumeration value="Size-Color" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="Size" type="StringNotNull" />
              <xsd:element minOccurs="0" name="Color" type="StringNotNull" />
              <xsd:element minOccurs="0" ref="ColorMap" />
              <xsd:element minOccurs="0" name="Count" type="xsd:positiveInteger" />
              <xsd:element minOccurs="0" name="NumberOfItems" type="xsd:positiveInteger" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="DisplayLength" type="LengthDimension" />
        <xsd:element minOccurs="0" name="DisplayWeight" type="WeightDimension" />
        <xsd:element minOccurs="0" name="DisplayVolume" type="VolumeDimension" />
        <xsd:element minOccurs="0" name="Indications" type="LongStringNotNull" />
        <xsd:element minOccurs="0" maxOccurs="5" name="HairType" type="LongStringNotNull" />
        <xsd:element minOccurs="0" maxOccurs="5" name="SkinType" type="LongStringNotNull" />
        <xsd:element minOccurs="0" maxOccurs="5" name="SkinTone">
          <xsd:simpleType>
            <xsd:restriction base="StringNotNull">
              <xsd:enumeration value="Dark" />
              <xsd:enumeration value="Fair" />
              <xsd:enumeration value="Medium" />
              <xsd:enumeration value="MediumDark" />
              <xsd:enumeration value="VeryDark" />
              <xsd:enumeration value="VeryFair" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="3" name="MaterialType" type="LongStringNotNull" />
        <xsd:element minOccurs="0" name="Directions" type="LongStringNotNull" />
        <xsd:element minOccurs="0" name="Warnings" type="LongStringNotNull" />
        <xsd:element minOccurs="0" name="ItemForm" type="String" />
        <xsd:element minOccurs="0" name="Flavor" type="String" />
        <xsd:element minOccurs="0" name="Coverage" type="String" />
        <xsd:element minOccurs="0" maxOccurs="5" name="FinishType" type="String" />
        <xsd:element minOccurs="0" maxOccurs="5" name="ItemSpecialty" type="String" />
        <xsd:element minOccurs="0" name="IsAdultProduct" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="TargetGender">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="male" />
              <xsd:enumeration value="female" />
              <xsd:enumeration value="unisex" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="ItemDiameter" type="LengthDimension" />
        <xsd:element minOccurs="0" name="PowerSource" type="FortyStringNotNull" />
        <xsd:element minOccurs="0" name="IsACAdapterIncluded" type="xsd:boolean" />
        <xsd:element minOccurs="0" ref="Battery" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>