Amazon/Web References/MarketPlace/MusicalInstruments.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="amzn-base.xsd" />
  <xsd:element name="MusicalInstruments">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ProductType">
          <xsd:complexType>
            <xsd:choice>
              <xsd:element ref="BrassAndWoodwindInstruments" />
              <xsd:element ref="Guitars" />
              <xsd:element ref="InstrumentPartsAndAccessories" />
              <xsd:element ref="KeyboardInstruments" />
              <xsd:element ref="MiscWorldInstruments" />
              <xsd:element ref="PercussionInstruments" />
              <xsd:element ref="SoundAndRecordingEquipment" />
              <xsd:element ref="StringedInstruments" />
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="BrassAndWoodwindInstruments">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="VariationData">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Parentage">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="parent" />
                    <xsd:enumeration value="child" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="VariationTheme">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Color" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="AdditionalSpecifications" type="AdditionalSpecs" />
        <xsd:element minOccurs="0" name="ColorSpecification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="Color" type="String" />
              <xsd:element minOccurs="0" name="ColorMap" type="String" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="Size" type="String" />
        <xsd:element minOccurs="0" name="SizeMap" type="InstrumentSizeMapType" />
        <xsd:element minOccurs="0" name="CountryProducedIn" type="StringNotNull" />
        <xsd:element minOccurs="0" name="InstrumentKey" type="StringNotNull" />
        <xsd:element minOccurs="0" name="Range">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Alto" />
              <xsd:enumeration value="Baritone" />
              <xsd:enumeration value="Bass" />
              <xsd:enumeration value="Mezzo Soprano" />
              <xsd:enumeration value="Soprano" />
              <xsd:enumeration value="Tenor" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="ScaleLength" type="HundredString" />
        <xsd:element minOccurs="0" default="1" name="ItemPackageQuantity" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="MaterialType" type="StringNotNull" />
        <xsd:element minOccurs="0" name="ModelName" type="StringNotNull" />
        <xsd:element minOccurs="0" name="ModelNumber" type="FortyStringNotNull" />
        <xsd:element minOccurs="0" name="ModelYear" type="FourDigitYear" />
        <xsd:element minOccurs="0" name="MusicalStyle" type="StringNotNull" />
        <xsd:element minOccurs="0" name="ProficiencyLevel">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Intermediate" />
              <xsd:enumeration value="Professional" />
              <xsd:enumeration value="Student" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="HandOrientation">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="left" />
              <xsd:enumeration value="right" />
              <xsd:enumeration value="ambidextrous" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="ItemStyling" type="HundredString" />
        <xsd:element minOccurs="0" name="PolarPattern" type="HundredString" />
        <xsd:element minOccurs="0" name="NumberOfPieces" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="IsAssemblyRequired" type="xsd:boolean" />
        <xsd:element minOccurs="0" ref="Battery" />
        <xsd:element minOccurs="0" name="MaximumSampleRate" type="FrequencyDimension" />
        <xsd:element minOccurs="0" name="ConnectorType" type="HundredString" />
        <xsd:element minOccurs="0" name="SignalFormat" type="HundredString" />
        <xsd:element minOccurs="0" name="SupportedSoftware" type="HundredString" />
        <xsd:element minOccurs="0" name="SellerWarrantyDescription" type="SuperLongStringNotNull" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Guitars">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="VariationData">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Parentage">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="parent" />
                    <xsd:enumeration value="child" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="VariationTheme">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Color" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="AdditionalSpecifications" type="AdditionalSpecs" />
        <xsd:element minOccurs="0" name="ColorSpecification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="Color" type="String" />
              <xsd:element minOccurs="0" name="ColorMap" type="String" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="Size" type="String" />
        <xsd:element minOccurs="0" name="SizeMap" type="InstrumentSizeMapType" />
        <xsd:element minOccurs="0" name="CountryProducedIn" type="StringNotNull" />
        <xsd:element minOccurs="0" name="GuitarAttribute">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="dreadnought" />
              <xsd:enumeration value="fretless" />
              <xsd:enumeration value="grand-auditorium" />
              <xsd:enumeration value="grand-concert" />
              <xsd:enumeration value="jumbo" />
              <xsd:enumeration value="mini" />
              <xsd:enumeration value="nex" />
              <xsd:enumeration value="shallow-body" />
              <xsd:enumeration value="short-scale" />
              <xsd:enumeration value="travel" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="GuitarBridgeSystem">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="adjustable" />
              <xsd:enumeration value="double" />
              <xsd:enumeration value="edge-pro" />
              <xsd:enumeration value="fixed" />
              <xsd:enumeration value="floyd-rose" />
              <xsd:enumeration value="fulcrum" />
              <xsd:enumeration value="hardtail-bridge" />
              <xsd:enumeration value="individual-adjustable-bridge-system" />
              <xsd:enumeration value="jackson-locking-tremolo" />
              <xsd:enumeration value="locking-tremolo" />
              <xsd:enumeration value="stop-tail" />
              <xsd:enumeration value="tremolo" />
              <xsd:enumeration value="tune-o-matic" />
              <xsd:enumeration value="vintage-fulcrum-bridge" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="GuitarPickupConfiguration">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="combination" />
              <xsd:enumeration value="custom-removable-pickups" />
              <xsd:enumeration value="humbucker" />
              <xsd:enumeration value="magnetic-combination" />
              <xsd:enumeration value="magnetic-double-coil" />
              <xsd:enumeration value="magnetic-single-coil" />
              <xsd:enumeration value="piezoelectric" />
              <xsd:enumeration value="single-coil" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="InstrumentKey" type="StringNotNull" />
        <xsd:element minOccurs="0" name="Range">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Alto" />
              <xsd:enumeration value="Baritone" />
              <xsd:enumeration value="Bass" />
              <xsd:enumeration value="Mezzo Soprano" />
              <xsd:enumeration value="Soprano" />
              <xsd:enumeration value="Tenor" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="ScaleLength" type="HundredString" />
        <xsd:element minOccurs="0" default="1" name="ItemPackageQuantity" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="MaterialType" type="StringNotNull" />
        <xsd:element minOccurs="0" name="BackMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="BodyMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="TopMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="FretboardMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="NeckMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="StringMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="StringGauge" type="HundredString" />
        <xsd:element minOccurs="0" name="PickguardDescription" type="HundredString" />
        <xsd:element minOccurs="0" name="ModelName" type="StringNotNull" />
        <xsd:element minOccurs="0" name="ModelNumber" type="FortyStringNotNull" />
        <xsd:element minOccurs="0" name="ModelYear" type="FourDigitYear" />
        <xsd:element minOccurs="0" name="MusicalStyle" type="StringNotNull" />
        <xsd:element minOccurs="0" name="SpeakerCount" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="SpeakerSize" type="LengthDimension" />
        <xsd:element minOccurs="0" name="SpeakerAmplificationType" type="HundredString" />
        <xsd:element minOccurs="0" name="NumberOfStrings" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="HandOrientation">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="left" />
              <xsd:enumeration value="right" />
              <xsd:enumeration value="ambidextrous" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="ItemStyling" type="HundredString" />
        <xsd:element minOccurs="0" name="PolarPattern" type="HundredString" />
        <xsd:element minOccurs="0" name="NumberOfPieces" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="IsAssemblyRequired" type="xsd:boolean" />
        <xsd:element minOccurs="0" ref="Battery" />
        <xsd:element minOccurs="0" name="MaximumSampleRate" type="FrequencyDimension" />
        <xsd:element minOccurs="0" name="ConnectorType" type="HundredString" />
        <xsd:element minOccurs="0" name="SignalFormat" type="HundredString" />
        <xsd:element minOccurs="0" name="SupportedSoftware" type="HundredString" />
        <xsd:element minOccurs="0" name="SellerWarrantyDescription" type="SuperLongStringNotNull" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InstrumentPartsAndAccessories">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="VariationData">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Parentage">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="parent" />
                    <xsd:enumeration value="child" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="VariationTheme">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Color" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="AdditionalSpecifications" type="AdditionalSpecs" />
        <xsd:element minOccurs="0" name="ColorSpecification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="Color" type="String" />
              <xsd:element minOccurs="0" name="ColorMap" type="String" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="CableLength" type="LengthDimension" />
        <xsd:element minOccurs="0" name="CountryProducedIn" type="StringNotNull" />
        <xsd:element minOccurs="0" name="DrumSticksSize" type="StringNotNull" />
        <xsd:element minOccurs="0" name="GuitarPickThickness">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="extra-thick" />
              <xsd:enumeration value="extra-thin" />
              <xsd:enumeration value="medium" />
              <xsd:enumeration value="thick" />
              <xsd:enumeration value="thin" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="InstrumentKey" type="StringNotNull" />
        <xsd:element minOccurs="0" name="Range">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Alto" />
              <xsd:enumeration value="Baritone" />
              <xsd:enumeration value="Bass" />
              <xsd:enumeration value="Mezzo Soprano" />
              <xsd:enumeration value="Soprano" />
              <xsd:enumeration value="Tenor" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="ScaleLength" type="HundredString" />
        <xsd:element minOccurs="0" default="1" name="ItemPackageQuantity" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="MalletHardness">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="extra-hard" />
              <xsd:enumeration value="hard" />
              <xsd:enumeration value="medium" />
              <xsd:enumeration value="soft" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="MaterialType" type="StringNotNull" />
        <xsd:element minOccurs="0" name="BackMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="TopMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="FretboardMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="NeckMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="StringMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="StringGauge" type="HundredString" />
        <xsd:element minOccurs="0" name="PickguardDescription" type="HundredString" />
        <xsd:element minOccurs="0" name="ModelName" type="StringNotNull" />
        <xsd:element minOccurs="0" name="ModelNumber" type="FortyStringNotNull" />
        <xsd:element minOccurs="0" name="ModelYear" type="FourDigitYear" />
        <xsd:element minOccurs="0" name="MusicalStyle" type="StringNotNull" />
        <xsd:element minOccurs="0" name="SpeakerCount" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="SpeakerSize" type="LengthDimension" />
        <xsd:element minOccurs="0" name="SpeakerAmplificationType" type="HundredString" />
        <xsd:element minOccurs="0" name="NumberOfKeyboardKeys" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="KeyAction" type="HundredString" />
        <xsd:element minOccurs="0" name="PercussionDiameter" type="LengthIntegerDimension" />
        <xsd:element minOccurs="0" name="HandOrientation">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="left" />
              <xsd:enumeration value="right" />
              <xsd:enumeration value="ambidextrous" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="ItemStyling" type="HundredString" />
        <xsd:element minOccurs="0" name="PolarPattern" type="HundredString" />
        <xsd:element minOccurs="0" name="NumberOfPieces" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="IsAssemblyRequired" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="IsACAdapterIncluded" type="xsd:boolean" />
        <xsd:element minOccurs="0" ref="Battery" />
        <xsd:element minOccurs="0" name="MaximumSampleRate" type="FrequencyDimension" />
        <xsd:element minOccurs="0" name="ConnectorType" type="HundredString" />
        <xsd:element minOccurs="0" name="SignalFormat" type="HundredString" />
        <xsd:element minOccurs="0" name="DigitalAudioProtocol" type="HundredString" />
        <xsd:element minOccurs="0" name="HardwareInterface" type="HundredString" />
        <xsd:element minOccurs="0" name="OperatingSystem" type="String" />
        <xsd:element minOccurs="0" name="SupportedSoftware" type="HundredString" />
        <xsd:element minOccurs="0" name="SellerWarrantyDescription" type="SuperLongStringNotNull" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="KeyboardInstruments">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="VariationData">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Parentage">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="parent" />
                    <xsd:enumeration value="child" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="VariationTheme">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Color" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="AdditionalSpecifications" type="AdditionalSpecs" />
        <xsd:element minOccurs="0" name="ColorSpecification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="Color" type="String" />
              <xsd:element minOccurs="0" name="ColorMap" type="String" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="CountryProducedIn" type="StringNotNull" />
        <xsd:element minOccurs="0" name="InstrumentKey" type="StringNotNull" />
        <xsd:element minOccurs="0" name="Range">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Alto" />
              <xsd:enumeration value="Baritone" />
              <xsd:enumeration value="Bass" />
              <xsd:enumeration value="Mezzo Soprano" />
              <xsd:enumeration value="Soprano" />
              <xsd:enumeration value="Tenor" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="ScaleLength" type="HundredString" />
        <xsd:element minOccurs="0" default="1" name="ItemPackageQuantity" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="MaterialType" type="StringNotNull" />
        <xsd:element minOccurs="0" name="StringMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="StringGauge" type="HundredString" />
        <xsd:element minOccurs="0" name="PickguardDescription" type="HundredString" />
        <xsd:element minOccurs="0" name="ModelName" type="StringNotNull" />
        <xsd:element minOccurs="0" name="ModelNumber" type="FortyStringNotNull" />
        <xsd:element minOccurs="0" name="ModelYear" type="FourDigitYear" />
        <xsd:element minOccurs="0" name="MusicalStyle" type="StringNotNull" />
        <xsd:element minOccurs="0" name="SpeakerCount" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="SpeakerSize" type="LengthDimension" />
        <xsd:element minOccurs="0" name="SpeakerAmplificationType" type="HundredString" />
        <xsd:element minOccurs="0" name="NumberOfKeyboardKeys" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="KeyAction" type="HundredString" />
        <xsd:element minOccurs="0" name="ItemStyling" type="HundredString" />
        <xsd:element minOccurs="0" name="PolarPattern" type="HundredString" />
        <xsd:element minOccurs="0" name="NumberOfPieces" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="IsAssemblyRequired" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="IsACAdapterIncluded" type="xsd:boolean" />
        <xsd:element minOccurs="0" ref="Battery" />
        <xsd:element minOccurs="0" name="MaximumSampleRate" type="FrequencyDimension" />
        <xsd:element minOccurs="0" name="ConnectorType" type="HundredString" />
        <xsd:element minOccurs="0" name="SignalFormat" type="HundredString" />
        <xsd:element minOccurs="0" name="NumberOfChannels" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="DigitalAudioProtocol" type="HundredString" />
        <xsd:element minOccurs="0" name="HardwareInterface" type="HundredString" />
        <xsd:element minOccurs="0" name="OperatingSystem" type="String" />
        <xsd:element minOccurs="0" name="SupportedSoftware" type="HundredString" />
        <xsd:element minOccurs="0" name="SellerWarrantyDescription" type="SuperLongStringNotNull" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="MiscWorldInstruments">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="VariationData">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Parentage">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="parent" />
                    <xsd:enumeration value="child" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="VariationTheme">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Color" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="AdditionalSpecifications" type="AdditionalSpecs" />
        <xsd:element minOccurs="0" name="ColorSpecification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="Color" type="String" />
              <xsd:element minOccurs="0" name="ColorMap" type="String" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="CountryProducedIn" type="StringNotNull" />
        <xsd:element minOccurs="0" name="InstrumentKey" type="StringNotNull" />
        <xsd:element minOccurs="0" name="Range">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Alto" />
              <xsd:enumeration value="Baritone" />
              <xsd:enumeration value="Bass" />
              <xsd:enumeration value="Mezzo Soprano" />
              <xsd:enumeration value="Soprano" />
              <xsd:enumeration value="Tenor" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="ScaleLength" type="HundredString" />
        <xsd:element minOccurs="0" default="1" name="ItemPackageQuantity" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="MaterialType" type="StringNotNull" />
        <xsd:element minOccurs="0" name="BackMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="BodyMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="TopMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="FretboardMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="NeckMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="StringMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="StringGauge" type="HundredString" />
        <xsd:element minOccurs="0" name="PickguardDescription" type="HundredString" />
        <xsd:element minOccurs="0" name="ModelName" type="StringNotNull" />
        <xsd:element minOccurs="0" name="ModelNumber" type="FortyStringNotNull" />
        <xsd:element minOccurs="0" name="ModelYear" type="FourDigitYear" />
        <xsd:element minOccurs="0" name="MusicalStyle" type="StringNotNull" />
        <xsd:element minOccurs="0" name="RegionOfOrigin" type="StringNotNull" />
        <xsd:element minOccurs="0" name="PercussionDiameter" type="LengthDimension" />
        <xsd:element minOccurs="0" name="HandOrientation">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="left" />
              <xsd:enumeration value="right" />
              <xsd:enumeration value="ambidextrous" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="ItemStyling" type="HundredString" />
        <xsd:element minOccurs="0" name="PolarPattern" type="HundredString" />
        <xsd:element minOccurs="0" name="NumberOfPieces" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="IsAssemblyRequired" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="IsACAdapterIncluded" type="xsd:boolean" />
        <xsd:element minOccurs="0" ref="Battery" />
        <xsd:element minOccurs="0" name="MaximumSampleRate" type="FrequencyDimension" />
        <xsd:element minOccurs="0" name="ConnectorType" type="HundredString" />
        <xsd:element minOccurs="0" name="SignalFormat" type="HundredString" />
        <xsd:element minOccurs="0" name="NumberOfChannels" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="SupportedSoftware" type="HundredString" />
        <xsd:element minOccurs="0" name="SellerWarrantyDescription" type="SuperLongStringNotNull" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PercussionInstruments">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="VariationData">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Parentage">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="parent" />
                    <xsd:enumeration value="child" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="VariationTheme">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Color" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="AdditionalSpecifications" type="AdditionalSpecs" />
        <xsd:element minOccurs="0" name="ColorSpecification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="Color" type="String" />
              <xsd:element minOccurs="0" name="ColorMap" type="String" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="CountryProducedIn" type="StringNotNull" />
        <xsd:element minOccurs="0" name="DrumSetPieceQty" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="InstrumentKey" type="StringNotNull" />
        <xsd:element minOccurs="0" name="Range">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Alto" />
              <xsd:enumeration value="Baritone" />
              <xsd:enumeration value="Bass" />
              <xsd:enumeration value="Mezzo Soprano" />
              <xsd:enumeration value="Soprano" />
              <xsd:enumeration value="Tenor" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="ScaleLength" type="HundredString" />
        <xsd:element minOccurs="0" default="1" name="ItemPackageQuantity" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="MaterialType" type="StringNotNull" />
        <xsd:element minOccurs="0" name="ModelName" type="StringNotNull" />
        <xsd:element minOccurs="0" name="ModelNumber" type="FortyStringNotNull" />
        <xsd:element minOccurs="0" name="ModelYear" type="FourDigitYear" />
        <xsd:element minOccurs="0" name="MusicalStyle" type="StringNotNull" />
        <xsd:element minOccurs="0" name="NumberOfStrings" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="NumberOfKeyboardKeys" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="PercussionDiameter" type="LengthIntegerDimension" />
        <xsd:element minOccurs="0" name="ItemStyling" type="HundredString" />
        <xsd:element minOccurs="0" name="PolarPattern" type="HundredString" />
        <xsd:element minOccurs="0" name="NumberOfPieces" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="IsAssemblyRequired" type="xsd:boolean" />
        <xsd:element minOccurs="0" ref="Battery" />
        <xsd:element minOccurs="0" name="MaximumSampleRate" type="FrequencyDimension" />
        <xsd:element minOccurs="0" name="ConnectorType" type="HundredString" />
        <xsd:element minOccurs="0" name="SignalFormat" type="HundredString" />
        <xsd:element minOccurs="0" name="SupportedSoftware" type="HundredString" />
        <xsd:element minOccurs="0" name="SellerWarrantyDescription" type="SuperLongStringNotNull" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SoundAndRecordingEquipment">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="VariationData">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Parentage">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="parent" />
                    <xsd:enumeration value="child" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="VariationTheme">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Color" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="AdditionalSpecifications" type="AdditionalSpecs" />
        <xsd:element minOccurs="0" name="ColorSpecification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="Color" type="String" />
              <xsd:element minOccurs="0" name="ColorMap" type="String" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="CountryProducedIn" type="StringNotNull" />
        <xsd:element minOccurs="0" name="InstrumentKey" type="StringNotNull" />
        <xsd:element minOccurs="0" name="Range">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Alto" />
              <xsd:enumeration value="Baritone" />
              <xsd:enumeration value="Bass" />
              <xsd:enumeration value="Mezzo Soprano" />
              <xsd:enumeration value="Soprano" />
              <xsd:enumeration value="Tenor" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="ScaleLength" type="HundredString" />
        <xsd:element minOccurs="0" default="1" name="ItemPackageQuantity" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="MixerChannelQty" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="ModelName" type="StringNotNull" />
        <xsd:element minOccurs="0" name="ModelNumber" type="FortyStringNotNull" />
        <xsd:element minOccurs="0" name="ModelYear" type="FourDigitYear" />
        <xsd:element minOccurs="0" name="MusicalStyle" type="StringNotNull" />
        <xsd:element minOccurs="0" name="OutputWattage" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="RecorderTrackCount" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="SpeakerCount" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="SpeakerSize" type="LengthDimension" />
        <xsd:element minOccurs="0" name="SpeakerAmplificationType" type="HundredString" />
        <xsd:element minOccurs="0" name="WirelessMicrophoneFrequency" type="FrequencyIntegerDimension" />
        <xsd:element minOccurs="0" name="KeyAction" type="HundredString" />
        <xsd:element minOccurs="0" name="ItemStyling" type="HundredString" />
        <xsd:element minOccurs="0" name="PolarPattern" type="HundredString" />
        <xsd:element minOccurs="0" name="NumberOfPieces" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="IsAssemblyRequired" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="IsACAdapterIncluded" type="xsd:boolean" />
        <xsd:element minOccurs="0" ref="Battery" />
        <xsd:element minOccurs="0" name="MaximumSampleRate" type="FrequencyDimension" />
        <xsd:element minOccurs="0" name="ConnectorType" type="HundredString" />
        <xsd:element minOccurs="0" name="SignalFormat" type="HundredString" />
        <xsd:element minOccurs="0" name="NumberOfChannels" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="DigitalAudioProtocol" type="HundredString" />
        <xsd:element minOccurs="0" name="HardwareInterface" type="HundredString" />
        <xsd:element minOccurs="0" name="OperatingSystem" type="String" />
        <xsd:element minOccurs="0" name="SupportedSoftware" type="HundredString" />
        <xsd:element minOccurs="0" name="SellerWarrantyDescription" type="SuperLongStringNotNull" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StringedInstruments">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="VariationData">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Parentage">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="parent" />
                    <xsd:enumeration value="child" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="VariationTheme">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Color" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="AdditionalSpecifications" type="AdditionalSpecs" />
        <xsd:element minOccurs="0" name="ColorSpecification">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="Color" type="String" />
              <xsd:element minOccurs="0" name="ColorMap" type="String" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="Size" type="String" />
        <xsd:element minOccurs="0" name="SizeMap" type="InstrumentSizeMapType" />
        <xsd:element minOccurs="0" name="CountryProducedIn" type="StringNotNull" />
        <xsd:element minOccurs="0" name="InstrumentKey" type="StringNotNull" />
        <xsd:element minOccurs="0" name="Range">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Alto" />
              <xsd:enumeration value="Baritone" />
              <xsd:enumeration value="Bass" />
              <xsd:enumeration value="Mezzo Soprano" />
              <xsd:enumeration value="Soprano" />
              <xsd:enumeration value="Tenor" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="ScaleLength" type="HundredString" />
        <xsd:element minOccurs="0" name="InstrumentSize" type="StringNotNull" />
        <xsd:element minOccurs="0" default="1" name="ItemPackageQuantity" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="MaterialType" type="StringNotNull" />
        <xsd:element minOccurs="0" name="BackMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="BodyMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="TopMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="FretboardMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="NeckMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="StringMaterial" type="HundredString" />
        <xsd:element minOccurs="0" name="StringGauge" type="HundredString" />
        <xsd:element minOccurs="0" name="PickguardDescription" type="HundredString" />
        <xsd:element minOccurs="0" name="ModelName" type="StringNotNull" />
        <xsd:element minOccurs="0" name="ModelNumber" type="FortyStringNotNull" />
        <xsd:element minOccurs="0" name="ModelYear" type="FourDigitYear" />
        <xsd:element minOccurs="0" name="MusicalStyle" type="StringNotNull" />
        <xsd:element minOccurs="0" name="SpeakerCount" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="SpeakerSize" type="LengthDimension" />
        <xsd:element minOccurs="0" name="SpeakerAmplificationType" type="HundredString" />
        <xsd:element minOccurs="0" name="NumberOfStrings" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="HandOrientation">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="left" />
              <xsd:enumeration value="right" />
              <xsd:enumeration value="ambidextrous" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="ItemStyling" type="HundredString" />
        <xsd:element minOccurs="0" name="PolarPattern" type="HundredString" />
        <xsd:element minOccurs="0" name="NumberOfPieces" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="IsAssemblyRequired" type="xsd:boolean" />
        <xsd:element minOccurs="0" ref="Battery" />
        <xsd:element minOccurs="0" name="MaximumSampleRate" type="FrequencyDimension" />
        <xsd:element minOccurs="0" name="ConnectorType" type="HundredString" />
        <xsd:element minOccurs="0" name="SignalFormat" type="HundredString" />
        <xsd:element minOccurs="0" name="SupportedSoftware" type="HundredString" />
        <xsd:element minOccurs="0" name="SellerWarrantyDescription" type="SuperLongStringNotNull" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="AdditionalSpecs">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:minLength value="1" />
      <xsd:maxLength value="1500" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="InstrumentSizeMapType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1/4" />
      <xsd:enumeration value="1/2" />
      <xsd:enumeration value="3/4" />
      <xsd:enumeration value="4/4" />
      <xsd:enumeration value="Mini" />
      <xsd:enumeration value="Jumbo" />
      <xsd:enumeration value="X-Small" />
      <xsd:enumeration value="Small" />
      <xsd:enumeration value="Medium" />
      <xsd:enumeration value="Large" />
      <xsd:enumeration value="X-Large" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>