Amazon/Web References/MarketPlace/OrderReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="amzn-base.xsd" />
  <xsd:element name="OrderReport">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="AmazonOrderID" />
        <xsd:element name="AmazonSessionID">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:pattern value="\d{3}-\d{7}-\d{7}" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="OrderDate" type="xsd:dateTime" />
        <xsd:element name="OrderPostedDate" type="xsd:dateTime" />
        <xsd:element minOccurs="0" maxOccurs="10" name="CustomerOrderInfo">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Type" type="StringNotNull" />
              <xsd:element name="Value" type="StringNotNull" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BillingData">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BuyerEmailAddress">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:normalizedString">
                    <xsd:pattern value="[^@]+@[^@\.]+(\.[^@\.]+)+" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="BuyerName" type="String" />
              <xsd:element name="BuyerPhoneNumber" type="String" />
              <xsd:element minOccurs="0" name="CreditCard">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Issuer">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="Visa" />
                          <xsd:enumeration value="MasterCard" />
                          <xsd:enumeration value="AmericanExpress" />
                          <xsd:enumeration value="Discover" />
                          <xsd:enumeration value="DinersClub" />
                          <xsd:enumeration value="JCB" />
                          <xsd:enumeration value="PrivateLabel" />
                          <xsd:enumeration value="BankDebit" />
                          <xsd:enumeration value="CarteBlanche" />
                          <xsd:enumeration value="CarteBancaire" />
                          <xsd:enumeration value="PaymentByInvoice" />
                          <xsd:enumeration value="Laser" />
                          <xsd:enumeration value="Switch" />
                          <xsd:enumeration value="SVS" />
                          <xsd:enumeration value="BordersECG" />
                          <xsd:enumeration value="Other" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Tail">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:pattern value="\d{4}" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ExpirationDate" type="xsd:gYearMonth" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" ref="Address" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="FulfillmentData">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element ref="FulfillmentMethod" />
              <xsd:element minOccurs="0" ref="FulfillmentServiceLevel" />
              <xsd:element minOccurs="0" ref="FulfillmentCenterID" />
              <xsd:element minOccurs="0" ref="Address" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" name="Item">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element ref="AmazonOrderItemCode" />
              <xsd:element ref="SKU" />
              <xsd:element name="Title" type="LongString" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="CustomizationInfo" type="CustomizationInfoType" />
              <xsd:element name="Quantity" type="xsd:positiveInteger" />
              <xsd:element ref="ProductTaxCode" />
              <xsd:element minOccurs="0" name="DeliveryStartDate" type="xsd:dateTime" />
              <xsd:element minOccurs="0" name="DeliveryEndDate" type="xsd:dateTime" />
              <xsd:element minOccurs="0" name="DeliveryTimeZone" type="StringNotNull" />
              <xsd:element minOccurs="0" name="DeliveryInstructions" type="LongStringNotNull" />
              <xsd:element name="ItemPrice" type="BuyerPrice" />
              <xsd:element name="ItemFees" type="AmazonFees" />
              <xsd:element minOccurs="0" name="ItemTaxData" type="TaxData" />
              <xsd:element minOccurs="0" name="ShippingTaxData" type="TaxData" />
              <xsd:element minOccurs="0" name="GiftWrapTaxData" type="TaxData" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="Promotion" type="PromotionDataType" />
              <xsd:element minOccurs="0" name="GiftWrapLevel" type="StringNotNull" />
              <xsd:element minOccurs="0" name="GiftMessageText">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="500" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TaxData">
    <xsd:sequence>
      <xsd:element name="TaxJurisdictions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TaxLocationCode" type="String" />
            <xsd:element name="City" type="String" />
            <xsd:element name="County" type="String" />
            <xsd:element name="State" type="String" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TaxableAmounts" type="TaxDataSubtype" />
      <xsd:element name="NonTaxableAmounts" type="TaxDataSubtype" />
      <xsd:element name="ZeroRatedAmounts" type="TaxDataSubtype" />
      <xsd:element name="TaxCollectedAmounts" type="TaxDataSubtype" />
      <xsd:element name="TaxRates">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="District" type="TaxRate" />
            <xsd:element name="City" type="TaxRate" />
            <xsd:element name="County" type="TaxRate" />
            <xsd:element name="State" type="TaxRate" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TaxDataSubtype">
    <xsd:sequence>
      <xsd:element name="District" type="CurrencyAmount" />
      <xsd:element name="City" type="CurrencyAmount" />
      <xsd:element name="County" type="CurrencyAmount" />
      <xsd:element name="State" type="CurrencyAmount" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="TaxRate">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="5" />
      <xsd:fractionDigits value="4" fixed="true" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>