Amazon/Web References/MarketPlace/Override.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="amzn-base.xsd" />
  <xsd:element name="Override">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SKU" />
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="ShippingOverride">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element ref="ShipOption" />
              <xsd:choice>
                <xsd:element name="IsShippingRestricted" type="xsd:boolean" />
                <xsd:sequence>
                  <xsd:element name="Type">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Additive" />
                        <xsd:enumeration value="Exclusive" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="ShipAmount" type="CurrencyAmount" />
                </xsd:sequence>
              </xsd:choice>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>