Amazon/Web References/MarketPlace/Price.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="amzn-base.xsd" />
  <xsd:element name="Price">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SKU" />
        <xsd:element name="StandardPrice" type="OverrideCurrencyAmount" />
        <xsd:element minOccurs="0" name="MAP" type="OverrideCurrencyAmount" />
        <xsd:element minOccurs="0" name="DepositAmount" type="CurrencyAmountWithDefault" />
        <xsd:element minOccurs="0" name="Sale">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="StartDate" type="xsd:dateTime" />
              <xsd:element name="EndDate" type="xsd:dateTime" />
              <xsd:element name="SalePrice" type="OverrideCurrencyAmount" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="Previous" type="DatedPrice" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="BaseCurrencyCodeWithDefault">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="USD" />
      <xsd:enumeration value="GBP" />
      <xsd:enumeration value="EUR" />
      <xsd:enumeration value="JPY" />
      <xsd:enumeration value="CAD" />
      <xsd:enumeration value="DEFAULT" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CurrencyAmountWithDefault">
    <xsd:simpleContent>
      <xsd:extension base="BaseCurrencyAmount">
        <xsd:attribute name="currency" type="BaseCurrencyCodeWithDefault" use="required" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="OverrideCurrencyAmount">
    <xsd:simpleContent>
      <xsd:extension base="CurrencyAmountWithDefault">
        <xsd:attribute name="zero" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>