Amazon/Web References/MarketPlace/ToysBaby.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="amzn-base.xsd" />
  <xsd:element name="ToysBaby">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ProductType">
          <xsd:simpleType>
            <xsd:restriction base="MediumStringNotNull">
              <xsd:enumeration value="ToysAndGames" />
              <xsd:enumeration value="BabyProducts" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" ref="AgeRecommendation" />
        <xsd:element minOccurs="0" name="IsAdultProduct" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="5" name="AlertType" type="StringNotNull" />
        <xsd:element minOccurs="0" name="AssemblyInstructions">
          <xsd:simpleType>
            <xsd:restriction base="xsd:normalizedString">
              <xsd:maxLength value="1500" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="AssemblyTime" type="AssemblyTimeDimension" />
        <xsd:element minOccurs="0" name="BaseDepth" type="LengthDimension" />
        <xsd:element minOccurs="0" name="BaseWidth" type="LengthDimension" />
        <xsd:element minOccurs="0" name="CarrierWeight" type="WeightDimension" />
        <xsd:element minOccurs="0" name="BatteryAverageLife" type="BatteryLifeDimension" />
        <xsd:element minOccurs="0" name="BatteryAverageLifeStandby" type="Dimension" />
        <xsd:element minOccurs="0" name="BatteryChargeTime" type="Dimension" />
        <xsd:element minOccurs="0" name="FrequencyResponse" type="FrequencyDimension" />
        <xsd:element minOccurs="0" name="MainVideoMonitorScreenSize" type="LengthDimension" />
        <xsd:element minOccurs="0" name="MaximumAnchoringWeightCapacity" type="WeightDimension" />
        <xsd:element minOccurs="0" name="MaximumItemWidth" type="LengthDimension" />
        <xsd:element minOccurs="0" name="MaximumRangeIndoors" type="LengthDimension" />
        <xsd:element minOccurs="0" name="MaximumRangeOpenSPace" type="LengthDimension" />
        <xsd:element minOccurs="0" name="MfrWarrantyDescriptionLabor" type="SuperLongStringNotNull" />
        <xsd:element minOccurs="0" name="MfrWarrantyDescriptionParts" type="SuperLongStringNotNull" />
        <xsd:element minOccurs="0" name="MfrWarrantyDescriptionType" type="StringNotNull" />
        <xsd:element minOccurs="0" name="PortableDisplaySize" type="LengthDimension" />
        <xsd:element minOccurs="0" name="SeatBackInteriorHeight" type="LengthDimension" />
        <xsd:element minOccurs="0" name="SeatHeight" type="LengthDimension" />
        <xsd:element minOccurs="0" name="SeatInteriorWidth" type="LengthDimension" />
        <xsd:element minOccurs="0" name="UserHipToKneeDistance" type="StringLengthOptionalDimension" />
        <xsd:element minOccurs="0" name="UserKneeToFootDistance" type="StringLengthOptionalDimension" />
        <xsd:element minOccurs="0" ref="Battery" />
        <xsd:element minOccurs="0" name="BaseType" type="HundredString" />
        <xsd:element minOccurs="0" name="BottleNippleType" type="StringNotNull" />
        <xsd:element minOccurs="0" name="BottleType" type="StringNotNull" />
        <xsd:element minOccurs="0" name="BrakeStyle" type="HundredString" />
        <xsd:element minOccurs="0" name="CommunicationInterface" type="StringNotNull" />
        <xsd:element minOccurs="0" name="CompatibilityOptions" type="HundredString" />
        <xsd:element minOccurs="0" name="CompatibleDevices" type="HundredString" />
        <xsd:element minOccurs="0" name="ControlType" type="StringNotNull" />
        <xsd:element minOccurs="0" name="ConversionOptions" type="HundredString" />
        <xsd:element minOccurs="0" name="CustomerPackageType" type="StringNotNull" />
        <xsd:element minOccurs="0" name="CanShipInOriginalContainer" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="Directions" type="LongStringNotNull" />
        <xsd:element minOccurs="0" name="DishwasherSafe" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="DisplayType" type="StringNotNull" />
        <xsd:element minOccurs="0" name="ExtraSeatCompatible" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="FoldedSizeWithoutWheels" type="HundredString" />
        <xsd:element minOccurs="0" name="FulfillReadinessCond" type="FulfillReadiness" />
        <xsd:element minOccurs="0" name="FurnitureFinish" type="StringNotNull" />
        <xsd:element minOccurs="0" name="IsAssemblyRequired" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="HardwareVisibility" type="StringNotNull" />
        <xsd:element minOccurs="0" name="HarnessType" type="StringNotNull" />
        <xsd:element minOccurs="0" name="Ingredients">
          <xsd:simpleType>
            <xsd:restriction base="xsd:normalizedString">
              <xsd:maxLength value="1500" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="InstallationType" type="StringNotNull" />
        <xsd:element minOccurs="0" name="IsFragile" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="IsPortable" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="IsSoldInStores" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="ItemPackageContents" type="StringNotNull" />
        <xsd:element minOccurs="0" name="Lifestyle" type="StringNotNull" />
        <xsd:element minOccurs="0" name="NumberOfHeightPositions" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="NumberOfPositions" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="ManufacturerSafetyWarning">
          <xsd:simpleType>
            <xsd:restriction base="xsd:normalizedString">
              <xsd:maxLength value="1500" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="ManufacturerWarrantyDescription">
          <xsd:simpleType>
            <xsd:restriction base="xsd:normalizedString">
              <xsd:maxLength value="1500" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="ModelNumber" type="StringNotNull" />
        <xsd:element minOccurs="0" name="OperationMode" type="StringNotNull" />
        <xsd:element minOccurs="0" name="Orientation" type="StringNotNull" />
        <xsd:element minOccurs="0" name="PiecesIncludedInPurchase" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="PowerFunctionality" type="StringNotNull" />
        <xsd:element minOccurs="0" name="PowerSourceType" type="StringNotNull" />
        <xsd:element minOccurs="0" name="RailType" type="StringNotNull" />
        <xsd:element minOccurs="0" name="Range" type="StringNotNull" />
        <xsd:element minOccurs="0" name="ReclinesFlat" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="RegionOfOrigin" type="StringNotNull" />
        <xsd:element minOccurs="0" name="SeatingCapacity" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="SellerWarrantyDescription">
          <xsd:simpleType>
            <xsd:restriction base="xsd:normalizedString">
              <xsd:maxLength value="1500" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="SpecificUsesForProduct" type="StringNotNull" />
        <xsd:element minOccurs="0" name="StyleName" type="StringNotNull" />
        <xsd:element minOccurs="0" name="SuspensionType" type="HundredString" />
        <xsd:element minOccurs="0" name="TotalTravel" type="LengthDimension" />
        <xsd:element minOccurs="0" name="Wheels" type="StringNotNull" />
        <xsd:element minOccurs="0" name="WirelessCommunicationTechnology" type="HundredString" />
        <xsd:element minOccurs="0" name="NumberOfPieces" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="NumberOfPlayers" type="TwentyStringNotNull" />
        <xsd:element minOccurs="0" ref="Recall" />
        <xsd:element minOccurs="0" maxOccurs="5" name="ToyAwardName" type="ToyAwardType" />
        <xsd:element minOccurs="0" maxOccurs="5" name="AwardsWon" type="StringNotNull" />
        <xsd:element minOccurs="0" ref="WeightRecommendation" />
        <xsd:element minOccurs="0" ref="HeightRecommendation" />
        <xsd:element minOccurs="0" ref="ForwardFacingWeight" />
        <xsd:element minOccurs="0" name="HarnessMaximumWeightCapacity" type="WeightDimension" />
        <xsd:element minOccurs="0" name="HarnessMaximumHeightCapacity" type="LengthDimension" />
        <xsd:element minOccurs="0" ref="RearFacingWeight" />
        <xsd:element minOccurs="0" ref="ShoulderHarnessHeight" />
        <xsd:element minOccurs="0" name="CountryOfOrigin">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:length value="2" fixed="true" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="FoldedSize" type="LongStringNotNull" />
        <xsd:element minOccurs="0" name="IncludedComponents" type="StringNotNull" />
        <xsd:element minOccurs="0" name="FabricType" type="MediumStringNotNull" />
        <xsd:element minOccurs="0" name="MaterialType" type="HundredString" />
        <xsd:element minOccurs="0" name="MaterialComposition" type="SuperLongStringNotNull" />
        <xsd:element minOccurs="0" maxOccurs="3" name="CareInstructions" type="LongStringNotNull" />
        <xsd:element minOccurs="0" maxOccurs="5" name="SpecialFeatures" type="LongStringNotNull" />
        <xsd:element minOccurs="0" name="HandleHeight" type="LengthDimension" />
        <xsd:element minOccurs="0" name="SeatLength">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="StringNotNull">
                <xsd:attribute name="unitOfMeasure" type="LengthUnitOfMeasure" use="optional" />
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="SeatWidth">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="StringNotNull">
                <xsd:attribute name="unitOfMeasure" type="LengthUnitOfMeasure" use="optional" />
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="TireMaterial" type="StringNotNull" />
        <xsd:element minOccurs="0" name="TireDiameter">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="StringNotNull">
                <xsd:attribute name="unitOfMeasure" type="LengthUnitOfMeasure" use="optional" />
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="TargetGender">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="male" />
              <xsd:enumeration value="female" />
              <xsd:enumeration value="unisex" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="DisplayHeight" type="LengthDimension" />
        <xsd:element minOccurs="0" name="DisplayLength" type="LengthDimension" />
        <xsd:element minOccurs="0" name="DisplayWidth" type="LengthDimension" />
        <xsd:element minOccurs="0" name="DisplayVolume" type="VolumeDimension" />
        <xsd:element minOccurs="0" name="DisplayWeight" type="WeightDimension" />
        <xsd:element minOccurs="0" name="UnitCount">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:positiveInteger">
                <xsd:attribute name="unitOfMeasure" type="TwentyStringNotNull" use="required" />
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="VariationData">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Parentage">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="parent" />
                    <xsd:enumeration value="child" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="VariationTheme">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Size" />
                    <xsd:enumeration value="Color" />
                    <xsd:enumeration value="Size-Color" />
                    <xsd:enumeration value="CustomerPackageType" />
                    <xsd:enumeration value="ColorName-CustomerPackageType" />
                    <xsd:enumeration value="SizeName-CustomerPackageType" />
                    <xsd:enumeration value="SizeName-ColorName-CustomerPackageType" />
                    <xsd:enumeration value="StyleName-CustomerPackageType" />
                    <xsd:enumeration value="SizeName-StyleName-CustomerPackageType" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="Size" type="StringNotNull" />
        <xsd:element minOccurs="0" name="SizeMap" type="StringNotNull" />
        <xsd:element minOccurs="0" name="Color" type="StringNotNull" />
        <xsd:element minOccurs="0" name="ColorMap" type="StringNotNull" />
        <xsd:element minOccurs="0" name="EngineType" type="StringNotNull" />
        <xsd:element minOccurs="0" name="HazmatItem" type="StringNotNull" />
        <xsd:element minOccurs="0" name="IdentityPackageType">
          <xsd:simpleType>
            <xsd:restriction base="StringNotNull">
              <xsd:enumeration value="bulk" />
              <xsd:enumeration value="frustration_free" />
              <xsd:enumeration value="traditional" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="5" name="SafetyRating" type="StringNotNull" />
        <xsd:element minOccurs="0" name="Voltage" type="PositiveDimension" />
        <xsd:element minOccurs="0" name="Warnings" type="LongStringNotNull" />
        <xsd:element minOccurs="0" name="Wattage" type="PositiveDimension" />
        <xsd:element minOccurs="0" name="BatteryTypeLithiumIon" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="BatteryTypeLithiumMetal" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="LithiumBatteryEnergyContent" type="xsd:decimal" />
        <xsd:element minOccurs="0" name="LithiumBatteryPackaging">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="batteries_contained_in_equipment" />
              <xsd:enumeration value="batteries_only" />
              <xsd:enumeration value="batteries_packed_with_equipment" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="LithiumBatteryVoltage" type="xsd:decimal" />
        <xsd:element minOccurs="0" name="LithiumBatteryWeight" type="xsd:decimal" />
        <xsd:element minOccurs="0" name="NumberOfLithiumIonCells" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="NumberOfLithiumMetalCells" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="NumberOfChannels" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="NumberOfFrequencyChannels" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="NumberOfControlChannels" type="xsd:positiveInteger" />
        <xsd:element minOccurs="0" name="FrequencyBandsSupported" type="StringNotNull" />
        <xsd:element minOccurs="0" name="Language" type="LanguageStringType" />
        <xsd:element minOccurs="0" name="EducationalValue" type="HundredString" />
        <xsd:element minOccurs="0" name="IncludesRemote" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="RecommendedUse">
          <xsd:simpleType>
            <xsd:restriction base="xsd:normalizedString">
              <xsd:maxLength value="1500" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="RemoteControlTechnology" type="StringNotNull" />
        <xsd:element minOccurs="0" name="RailGauge" type="StringNotNull" />
        <xsd:element minOccurs="0" name="Scale" type="StringNotNull" />
        <xsd:element minOccurs="0" name="SpecificationMet" type="StringNotNull" />
        <xsd:element minOccurs="0" name="Subject" type="StringNotNull" />
        <xsd:element minOccurs="0" name="SubjectCharacter" type="StringNotNull" />
        <xsd:element minOccurs="0" maxOccurs="5" name="MaterialTypeFree" type="StringNotNull" />
        <xsd:element minOccurs="0" maxOccurs="5" name="SensorTechnology" type="StringNotNull" />
        <xsd:element minOccurs="0" maxOccurs="5" name="SensorType" type="StringNotNull" />
        <xsd:element minOccurs="0" maxOccurs="3" name="TrayType" type="StringNotNull" />
        <xsd:element minOccurs="0" maxOccurs="5" name="ItemSpecialty" type="StringNotNull" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>